package {{packageName}}

import org.junit.jupiter.api.Test
import org.assertj.core.api.Assertions.assertThat

class {{classNameTest}} {

    @Test
    fun `should execute use case successfully`() {
        // TODO: instantiate {{className}} and supply a {{requestTypeName}} request
        // val useCase = {{className}}(/* dependencies */)
        // val request = {{requestTypeName}}(/* fields */)
        // val result: {{responseTypeName}} = useCase.execute(request)
        // assertThat(result).isNotNull()
        assertThat(true).isTrue()
    }
}
